@model DemoWithUsers.Models.OrderDetailViewModels

@{
    ViewBag.Title = "Checkout";
}

<h2>Tack för ditt köp!</h2>

<div>
    <h4>Information om ditt köp</h4>
    <a href="@Url.Action("Index", "Apps")" class="btn btn-default">
        Tillbaka
    </a>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
</div>

@foreach (var item in Model.Apps)
{
    <div class="col-md-4">
        <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
        <p>@Html.DisplayFor(modelItem => item.Desc)</p>
        <img src="@Url.Content(item.ImageUrl)" alt="@item.Name" />
        <br /><br /><b>@Html.DisplayFor(modelItem => item.Price) kr</b><br /><br />
    </div>
}
